/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration-line: none;
}

/* #region Variables */
:root {

    /* Link buttons */
    --link-btn-radius: 25px;
    
    --link-btn-padding: 15px 30px;

    --link-btn-bg-color: white;
    --link-btn-text-color: black;

    --link-btn-dark-bg-color: black;
    --link-btn-dark-text-color: white;

    --link-btn-alternative-bg-color: #8ea1e1;
    --link-btn-alternative-text-color: white;

    /* Header */
    --header-bg-color: #3161e0;

    /* Main menu */
    --main-menu-text-size: 18px;
    --main-menu-text-color: white;

    /* Banner */
    --banner-text-alignment: center;

    --main-title-heading-size: 60px;
    --main-title-heading-color: white;

    --banner-paragraph-size: 25px;
    --banner-paragraph-color: white;

    /* Text panels */
    --panel-text-heading-size: 50px;
    --panel-text-heading-color: black;

    --panel-text-paragraph-size: 20px;
    --panel-text-paragraph-color: black;

    /* Footer */
    --footer-bg-color: #23272a;

    --footer-separation-line-thickness: 2px;
    --footer-separation-line-style: solid;
    --footer-separation-line-color: #363f55;

    /* Other links section */
    --other-link-section-headings-color: #7289da;
    --other-link-section-links-color: white;

    /* -------------------------------------------------------------------------------- */
    /* Section */
    --section-odd-bg-color: white;
    --section-even-bg-color: lightgrey;

     --section-padding: 50px 0;
    /* -------------------------------------------------------------------------------- */
}
/* #endregion Variables */

body {
    /* #region Utility classes */

    /* Debug */
    &.debug {
        * {
            border: 1px solid red;
        }
    }

    .d-flex {
        display: flex;
    }

    .container {
        margin: 0 auto;
        max-width: 1300px;
        &.container-small {
            max-width: 1000px;
        }
    }

    .link-btn {
        display: inline-block;
        border-radius: var(--link-btn-radius);
        padding: var(--link-btn-padding);
        background-color: var(--link-btn-bg-color);
        color: var(--link-btn-text-color);
        &.link-btn-dark {
            background-color: var(--link-btn-dark-bg-color);
            color: var(--link-btn-dark-text-color);
        }
        &.link-btn-alternative {
            background-color: var(--link-btn-alternative-bg-color);
            color: var(--link-btn-alternative-text-color);
        }
    }
    /* #endregion Utility classes */

    /* #region Globals */
    font-family: Helvetica, sans-serif;

    img {
        width: 100%;
    }
    /* #endregion Globals */

    h1, h2, p {
        margin: 50px;
    }

    h1 {
        font-size: var(--main-title-heading-size);
    }

    /* #region Header */
    header {
        /* #region Main menu */
        #main-menu-section {
            padding: 15px;
            background-color: var(--header-bg-color);

            #container-menu {
                .main-menu-column {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    &:nth-child(1) {
                        flex-grow: 1;
                        justify-content: flex-start;
                        a {
                            display: flex;
                        }
                    }
                    &:nth-child(2) {
                        flex-grow: 2;
                        justify-content: space-evenly;
                        a {
                            font-size: var(--main-menu-text-size);
                            color: var(--main-menu-text-color);
                        }
                    }
                    &:nth-child(3) {
                        flex-grow: 1;
                        justify-content: flex-end;
                    }
                }
            }
        }
        /* #endregion Main menu */

        /* #region Banner section */
        #banner-section {
            padding: var(--section-padding);
            background-image: url("./../img/jumbo.png");
            background-size: 100%;
            #banner {
                min-height: 520px;
                text-align: var(--banner-text-alignment);
                font-size: var(--banner-paragraph-size);
                color: var(--banner-paragraph-color);
                .banner-links {
                    .link-btn {
                        margin: 0 15px;
                    }
                }
            }
        }
        /* #region Banner section */

    }
    /* #region Header */

    /* -------------------------------------------------------------------------------- */
    main {
        .page-section {
            padding: var(--section-padding);
            &:nth-child(odd) {
                background-color: var(--section-odd-bg-color);
            }
            &:nth-child(even) {
                background-color: var(--section-even-bg-color);
            }
            .panel {
                &.panel-image {
                    width: 60%;
                }
                &.panel-text {
                    width: 40%;
                }
                &.panel-single {
                    width: 100%;
                    height: 1000px;
                    background-color: var(--panel-single-bg-color);
                }
            }
        }
    }
    /* -------------------------------------------------------------------------------- */
    /* #region Main */
    main {
        .page-section {
            .panel {
                &.panel-text {
                    h2 {
                        font-size: var(--panel-text-heading-size);
                        color: var(--panel-text-heading-color);
                    }
                    p {
                        font-size: var(--panel-text-paragraph-size);
                        color: var(--panel-text-paragraph-color);
                    }
                }
            }
        }
    }
    /* #region Main */

    /* -------------------------------------------------------------------------------- */
    footer {
        #other-links-section {
            padding: 10px 0 40px;
            section {
                flex-grow: 1;
                &:first-child {
                    border: var(--border-dark);
                    width: 150px;
                }
            }
        }
    }
    /* -------------------------------------------------------------------------------- */
    /* #region Footer */
    footer {
        background-color: var(--footer-bg-color);
        #other-links-section {
            section {
                h3, h4 {
                    color: var(--other-link-section-headings-color);
                }
                span {

                }
                a {
                    color: var(--other-link-section-links-color);
                }
                .social-links {
                    
                }
            }
        }
        #bottom-bar-section {
            border-top: var(--footer-separation-line-thickness) var(--footer-separation-line-style) var(--footer-separation-line-color);
            padding-top: 30px;
            padding-bottom: 100px;
            #bottom-bar {
                justify-content: space-between;
                padding: 15px 0;
            }
        }
    }
    /* #region Footer */
}