/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
}

/* #region Variables */
:root {
    /* Borders */
    --border-size: 1px;
    --border-style: dashed;

    --border-light: var(--border-size) var(--border-style) white;
    --border-dark: var(--border-size) var(--border-style) black;
    
    --section-padding: 50px 0;
    
    /* #region Link buttons */
    --link-btn-padding: 15px 30px;

    --link-btn-radius: 25px;

    --link-btn-bg-color: white;
    --link-btn-text-color: black;

    --link-btn-dark-bg-color: black;
    --link-btn-dark-text-color: white;

    --link-btn-alternative-bg-color: #8ea1e1;
    --link-btn-alternative-text-color: white;
    /* #endregion Link buttons */

    /* #region Main menu */
    --main-menu-text-size: 18px;
    --main-menu-text-color: white;
    /* #endregion Main menu */

    /* #region Banner */
    --banner-text-alignment: center;
    --banner-text-size: 25px;
    --banner-text-color: white;
    /* #endregion Banner */

    /* Header */
    --header-bg-color: #3161e0;

    --main-menu-text-color: white;

    /* Section */
    --section-odd-bg-color: white;
    --section-even-bg-color: lightgrey;

    /* Panels */
    --panel-single-bg-color: green;
    --panel-image-bg-color: dodgerblue;
    --panel-text-bg-color: pink;

    /* Footer */
    --footer-color: #23272a;

    /* Bottom bar */
    --bottom-bar-bg-color: aquamarine;
}
/* #endregion Variables */


/* #region Utility */

/* Containers */
.container {
    margin: 0 auto;
    &.container-normal {
        max-width: 1300px;
    }
    &.container-small {
        max-width: 1000px;
    }
}

/* #endregion Utility */








/* #region Debug */
.debug {
        #banner-section {
            padding: var(--section-padding);
            background-color: var(--banner-section-bg-color);
        }
    main {
        .page-section {
            padding: var(--section-padding);
            &:nth-child(odd) {
                background-color: var(--section-odd-bg-color);
            }
            &:nth-child(even) {
                background-color: var(--section-even-bg-color);
            }
            .panel {
                border: var(--border-dark);
                height: 500px;
                &.panel-image {
                    width: 60%;
                    background-color: var(--panel-image-bg-color);
                }
                &.panel-text {
                    width: 40%;
                    background-color: var(--panel-text-bg-color);
                }
                &.panel-single {
                    width: 100%;
                    height: 1000px;
                    background-color: var(--panel-single-bg-color);
                }
            }
        }
    }
    footer {
        background-color: var(--footer-color);
        #other-links-section {
            padding: 10px 0 40px;
            .link-section {
                flex-grow: 1;
                height: 500px;
                border: var(--border-light);
                background-color: cadetblue;
                &:first-child {
                    border: var(--border-dark);
                    width: 150px;
                    background-color: indianred;
                }
            }
        }
        #bottom-bar-section {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding-top: 30px;
            #bottom-bar {
                justify-content: space-between;
                padding: 15px 0;
                background-color: var(--bottom-bar-bg-color);
                .bottom-bar-item {
                    padding: 5px 10px;
                    border: var(--border-dark);
                    background-color: pink;
                }
            }
        }
    }
}
/* #region Debug */

























/* #region Official version */
body {
    font-family: Helvetica, sans-serif;

    img {
        width: 100%;
    }

    h1 {
        margin: 50px;
        font-size: 60px;
    }

    p {
        margin: 30px;
    }

    .d-flex {
        display: flex;
    }

    .link-btn {
        display: inline-block;
        border-radius: var(--link-btn-radius);
        padding: var(--link-btn-padding);
        background-color: var(--link-btn-bg-color);
        color: var(--link-btn-text-color);
        &.link-btn-dark {
            background-color: var(--link-btn-dark-bg-color);
            color: var(--link-btn-dark-text-color);
        }
    }

    .entity {
        
        font-weight: bold;
    }

    /* #region Header */
    header {
        /* #region Main menu */
        #main-menu-section {
            padding: 15px;
            background-color: var(--header-bg-color);

            #container-menu {
                .main-menu-column {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    &:nth-child(1) {
                        flex-grow: 1;
                        justify-content: flex-start;
                        a {
                            display: flex;
                        }
                    }
                    &:nth-child(2) {
                        flex-grow: 2;
                        justify-content: space-evenly;
                        a {
                            font-size: var(--main-menu-text-size);
                            color: var(--main-menu-text-color);
                        }
                    }
                    &:nth-child(3) {
                        flex-grow: 1;
                        justify-content: flex-end;
                    }
                }
            }
        }
        /* #endregion Main menu */

        /* #region Banner section */
        #banner-section {
            background-image: url("./../img/jumbo.png");
            background-size: 100%;
            #banner {
                min-height: 520px;
                text-align: var(--banner-text-alignment);
                font-size: var(--banner-text-size);
                color: var(--banner-text-color);
                .div {


                }
            }
        }
        /* #region Banner section */

    }
    /* #region Header */

    /* #region Main */
    main {

    }
    /* #region Main */

    /* #region Footer */
    footer {

    }
    /* #region Footer */

}
/* #endregion Official version */